.modal.fade#leave_history_modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header{style: "border-bottom: 0px;"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
      .modal-body
        %table.table
          .form-group.col-md-8
            %h3#employee_name Hey There
          %tr
            %th Request Type
            %td#request_type
          %tr
            %th Day Type
            %td#day_type
          %tr
            %th Status
            %td#status
          %tr
            %th Request Date
            %td#request_date
          %tr
            %th Start Date
            %td#start_date
          %tr
            %th End Date
            %td#end_date
          %tr
            %th Number Of Days
            %td#number_of_days
          %tr
            %th Reliever(s)
            %td#reliever
